body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-image: url('Paris-Texas-018.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Ensure z-index works */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
    z-index: -1; /* Ensure the overlay is below the content */
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.navbar {
    padding: 10px 0;
}

.film-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.film-list li {
    cursor: pointer;
}

.film-list li a {
    text-decoration: none; 
    color: white; /* Set text color to white */
    font-weight: bold; /* Increase font weight */
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    text-align: center;
}
